body {
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

#main {
  background: #fff;
  margin: 30px auto 30px auto;
  padding: 20px;
  width: 900px;
}

#mytabs {
  margin-top: 30px;
}

table {
  border-spacing: 0;
  border-color: #ddd;
}
th {
  background: #eee;
}
th, td {
  padding: 10px;
  border-color: #ddd;
}
